{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

  <p>
    <a href="{{=URL('default', 'add1')}}" class="btn">Add Post (method 1)</a>
  </p>
  <p>
    <a href="{{=URL('default', 'add2')}}" class="btn">Add Post (method 2)</a>
  </p>
  <p>
    {{=A('Add Post (method 3)', _href=URL('default', 'add3'), _class='btn')}}
  </p>

  {{for r in rows:}}
  <div class="post">
    <div class="author">Author: {{=r['post_author']}}</div>
    <div class="title">Title: {{=r['post_title']}}</div>
    <div class="content">Content: {{=r['post_content']}}</div>
    <div class="button_row">
    {{if auth.user is not None and auth.user.email == r['post_author']:}}
      <a href="{{=URL('default', 'edit', args=[r['id']])}}", class="btn"><i class="fa fa-pencil-square-o"></i> Edit</a>
      {{=A('Edit', _href=URL('default', 'edit1', vars=dict(id=r['id'])), _class='btn')}}
      {{=A('Delete Immediately', _href=URL('default', 'delete', args=[r['id']], user_signature=True), _class='btn')}}
    {{pass}}

    {{if auth.user is not None:}}
    {{if r['starred']:}}
      <a href="{{=URL('default', 'toggle_star', args=r['id'], user_signature=True)}}"><i class="fa fa-star"></i></a>
    {{else:}}
      <a href="{{=URL('default', 'toggle_star', args=r['id'], user_signature=True)}}"><i class="fa fa-star-o"></i></a>
    {{pass}}{{pass}}
    </div>
  </div>
  {{pass}}

</div>

